<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Staff</title>
    </head>
    <body>
        <h1>Staff</h1>
        <tabel>
            <header>
                <th>ID</th>
                <th>Name</th>
                <th>FM</th>
                <th>GG</th>
                <th>Last update</th>
                <th>Skills</th>
            </header>
            <tr>
                <td>Something</td>
            </tr>
        </tabel>
    </body>
</html>