<!DOCTYPE html>
<html lang="en">
    <%- include("common/header"); %>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <!-- Buttons for login and sign up  -->
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Login</button>
            <button class="btn btn-secondary" type="button">Sign Up</button>
        </div>
    </body>
</html>