<!DOCTYPE html>
<html lang="en">
    <style>
        body {background-color: rgb(47, 47, 47);}
    </style>
    <%- include("common/header"); %>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Home Page</h1>
    </body>
</html>