<!DOCTYPE html>
<html lang="en">
    <%- include("common/header"); %>
    <head>
        <title>Staff</title>
    </head>
    <body>
        <h1>Staff</h1>
        <table border="1">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>FM</th>
                <th>GG</th>
                <th>Last update</th>
                <th>Skills</th>
            </thead>
            <% skills.forEach(function(skill) { %>
            <tr>
                <td><%= skill.Name %></td>
                <td><%= skill.Competency %></td>
                <% if (skill.Comment != "" || skill.Comment != null) { %> 
                <td><%= skill.Comment %></td>
                <% } %> 
            </tr>
            <% }); %>
        </table>
    </body>
</html>