<!DOCTYPE html>
<html lang="en">
    <%- include("common/header"); %>
    <head>
        <title>Staff</title>
    </head>
    <body>
        <h1>Staff</h1>
        <table border="1">
            <thead>
                <th>Name</th>
                <th>Description</th>
            </thead>
            <% skills.forEach(function(skill) { %>
            <tr>
                <td><%= skill.Name %></td>
                <td><%= skill.Description %></td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>