<!DOCTYPE html>
<html lang="en">
    <style>
        body {background-color: rgb(47, 47, 47);}
    </style>
    <header>
        <div>
            <h1>
                <a text-align="left" href="../employees">Employees</a>
                <a text-align="centre" href="../skills">Skills</a>
                <a text-align="right" href="../profile">Profile</a>
            </h1>
        </div>
    </header>
</html>